.login-header {
    font-family:Arial;
    color : white;
    background-color:#95BBD7;
    padding:15px;
    word-spacing:3px;
    font-size:20px;
    margin-top:0px;
    margin-bottom:30px;
}

.welcome-title {
    margin-left:10px;
    color:#666666;
    font-size:75px;
    font-family:Georgia;
}
.start-title {
    margin-left: 10px;
    margin-top:50px;
    color: #ABABAB;
    font-size: 35px;
    font-family: Georgia;
}
#page-wrapper2 {
    background-color: #fff;
    border-left: 1px solid #e7e7e7;
}


.form-horizontal {
    box-shadow: 10px 10px 5px #888888;
    background-color:#f4fbff;   
    padding:45px;
     
}
.login-title-form {
    text-align:center;
     font-size: 35px;
    font-family: Georgia;
}
.get-started-title {
    text-align:center;
    font-family: Georgia;
    margin-bottom:20px;
}
.register-title {
    font-family: Georgia;
    text-align:center;
}
.register-link {
     font-family: Georgia;
     text-align:center;   
     margin-top:40px;
     font-size:25px;
}
.login-button{
    text-align:center;  
    position: inherit;
    right: 30px;
    
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.login-separator {
    margin-top:30px;
    margin-bottom:30px;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    background: hsl(65, 100%, 87%);
}